In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("../Heatwave Adilabad.csv")

In [ ]:
df.head()

   Unnamed: 0          ds      yhat1
0          22  2023-01-01  33.186413
1          23  2023-01-02  33.016273
2          24  2023-01-03  33.246475
3          25  2023-01-04  33.284233
4          26  2023-01-05  33.190582

In [ ]:
maxtemp=list(df['yhat1'])

In [ ]:
jan=maxtemp[:31]
feb=maxtemp[31:59]
mar=maxtemp[59:90]
apr=maxtemp[90:120]
may=maxtemp[120:151]
jun=maxtemp[151:181]
jul=maxtemp[181:212]
aug=maxtemp[212:243]
sep=maxtemp[243:273]
oct=maxtemp[273:304]
nov=maxtemp[304:334]
dec=maxtemp[334:365]

In [ ]:
max_t=45

In [ ]:
def heatwave(mon):
  month={'Jan':jan,'Feb':feb,'Mar':mar,'Apr':apr,'May':may,'Jun':jun,'Jul':jul,'Aug':aug,'Sep':sep,'Oct':oct,'Nov':nov,'Dec':dec}
  hw="NO"
  maxi=max_t
  tem=[]
  i=0
  while i<=len(mon)-1:
    if mon[i]>=maxi and mon[i+1]>=maxi:
      hw="YES"
      maxi=max(mon[i],mon[i+1])
      tem.append((mon[i],mon[i+1]))
    i+=1
  if len(tem)!=0:
    return [list(month.keys())[list(month.values()).index(mon)],hw,max(mon)]
  else:
    return [list(month.keys())[list(month.values()).index(mon)],hw,max(mon)]

In [ ]:
mons=[jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec]

In [ ]:
def heatwave_final(mons):
  l=[]
  for i in range(len(mons)):
    mon=heatwave(mons[i])
    l.append(mon)
  return l

In [ ]:
heatwave_final(mons)

[['Jan', 'NO', 35.64069366455078],
 ['Feb', 'NO', 38.506797790527344],
 ['Mar', 'NO', 40.8921127319336],
 ['Apr', 'NO', 42.50823974609375],
 ['May', 'NO', 42.85252380371094],
 ['Jun', 'NO', 41.05084991455078],
 ['Jul', 'NO', 35.338741302490234],
 ['Aug', 'NO', 34.42272186279297],
 ['Sep', 'NO', 35.931026458740234],
 ['Oct', 'NO', 36.62715148925781],
 ['Nov', 'NO', 36.67399978637695],
 ['Dec', 'NO', 35.499107360839844]]

In [ ]:
mon=[]
hw=[]
max_tem=[]
for i in range(len(heatwave_final(mons))):
  mon.append(heatwave_final(mons)[i][0])
  hw.append(heatwave_final(mons)[i][1])
  max_tem.append(heatwave_final(mons)[i][2])

In [ ]:
df1 = pd.DataFrame()
df1['Month'] = mon
df1['HeatWave'] = hw
df1['Max_Temp'] = max_tem
  
df1

   Month HeatWave   Max_Temp
0    Jan       NO  35.640694
1    Feb       NO  38.506798
2    Mar       NO  40.892113
3    Apr       NO  42.508240
4    May       NO  42.852524
5    Jun       NO  41.050850
6    Jul       NO  35.338741
7    Aug       NO  34.422722
8    Sep       NO  35.931026
9    Oct       NO  36.627151
10   Nov       NO  36.674000
11   Dec       NO  35.499107

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/Heatwave_Adilabad.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df1.to_csv(f)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).