In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("../Heatwave Warangal.csv")

In [ ]:
df.head()

   Unnamed: 0          ds      yhat1
0          22  2023-01-01  34.642899
1          23  2023-01-02  34.504993
2          24  2023-01-03  34.607006
3          25  2023-01-04  34.777946
4          26  2023-01-05  34.754189

In [ ]:
maxtemp=list(df['yhat1'])

In [ ]:
jan=maxtemp[:31]
feb=maxtemp[31:59]
mar=maxtemp[59:90]
apr=maxtemp[90:120]
may=maxtemp[120:151]
jun=maxtemp[151:181]
jul=maxtemp[181:212]
aug=maxtemp[212:243]
sep=maxtemp[243:273]
oct=maxtemp[273:304]
nov=maxtemp[304:334]
dec=maxtemp[334:365]

In [ ]:

max_t=45

In [ ]:
def heatwave(mon):
  month={'Jan':jan,'Feb':feb,'Mar':mar,'Apr':apr,'May':may,'Jun':jun,'Jul':jul,'Aug':aug,'Sep':sep,'Oct':oct,'Nov':nov,'Dec':dec}
  hw="NO"
  maxi=max_t
  tem=[]
  i=0
  while i<=len(mon)-1:
    if mon[i]>=maxi and mon[i+1]>=maxi:
      hw="YES"
      maxi=max(mon[i],mon[i+1])
      tem.append((mon[i],mon[i+1]))
    i+=1
  if len(tem)!=0:
    return [list(month.keys())[list(month.values()).index(mon)],hw,max(mon)]
  else:
    return [list(month.keys())[list(month.values()).index(mon)],hw,max(mon)]

In [ ]:
mons=[jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec]

In [ ]:
def heatwave_final(mons):
  l=[]
  for i in range(len(mons)):
    mon=heatwave(mons[i])
    l.append(mon)
  return l

In [ ]:
heatwave_final(mons)

[['Jan', 'NO', 36.04215240478516],
 ['Feb', 'NO', 37.78514099121094],
 ['Mar', 'NO', 39.5012321472168],
 ['Apr', 'NO', 40.649391174316406],
 ['May', 'NO', 41.225093841552734],
 ['Jun', 'NO', 40.31597900390625],
 ['Jul', 'NO', 35.897579193115234],
 ['Aug', 'NO', 35.58918380737305],
 ['Sep', 'NO', 35.86347961425781],
 ['Oct', 'NO', 36.08540344238281],
 ['Nov', 'NO', 36.07204055786133],
 ['Dec', 'NO', 35.25483703613281]]

In [ ]:
mon=[]
hw=[]
max_tem=[]
for i in range(len(heatwave_final(mons))):
  mon.append(heatwave_final(mons)[i][0])
  hw.append(heatwave_final(mons)[i][1])
  max_tem.append(heatwave_final(mons)[i][2])

In [ ]:

df1 = pd.DataFrame()
df1['Month'] = mon
df1['HeatWave'] = hw
df1['Max_Temp'] = max_tem

In [ ]:
df1

   Month HeatWave   Max_Temp
0    Jan       NO  36.042152
1    Feb       NO  37.785141
2    Mar       NO  39.501232
3    Apr       NO  40.649391
4    May       NO  41.225094
5    Jun       NO  40.315979
6    Jul       NO  35.897579
7    Aug       NO  35.589184
8    Sep       NO  35.863480
9    Oct       NO  36.085403
10   Nov       NO  36.072041
11   Dec       NO  35.254837

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/Heatwave_Warangal.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df1.to_csv(f)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).