In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("../LSTM KHAMMAM AQI.csv")
df

    Unnamed: 0        Date       PM10        NOx       SO2
0            0  31-01-2023  49.592940  26.475374  7.361353
1            1  28-02-2023  56.920250  25.208668  7.017441
2            2  31-03-2023  50.206993  28.954832  8.278098
3            3  30-04-2023  52.350586  26.285927  7.854732
4            4  31-05-2023  50.230194  23.899569  5.939585
5            5  30-06-2023  59.961210  20.961021  5.138043
6            6  31-07-2023  54.840485  23.210361  6.967090
7            7  31-08-2023  70.569210  25.617153  7.108234
8            8  30-09-2023  83.222490  34.379750  7.671492
9            9  31-10-2023  57.924550  36.104140  8.282416
10          10  30-11-2023  60.534070  32.077705  7.580860
11          11  31-12-2023  56.722520  40.425568  7.221460

In [ ]:
def get_PM10_subindex(x):
    if x <= 50:
        return x
    elif x <= 100:
        return x
    elif x <= 250:
        return 100 + (x - 100) * 100 / 150
    elif x <= 350:
        return 200 + (x - 250)
    elif x <= 430:
        return 300 + (x - 350) * 100 / 80
    elif x > 430:
        return 400 + (x - 430) * 100 / 80
    else:
        return 0

df["PM10_SubIndex"] = df["PM10"].apply(lambda x: get_PM10_subindex(x))

In [ ]:
## SO2 Sub-Index calculation
def get_SO2_subindex(x):
    if x <= 40:
        return x * 50 / 40
    elif x <= 80:
        return 50 + (x - 40) * 50 / 40
    elif x <= 380:
        return 100 + (x - 80) * 100 / 300
    elif x <= 800:
        return 200 + (x - 380) * 100 / 420
    elif x <= 1600:
        return 300 + (x - 800) * 100 / 800
    elif x > 1600:
        return 400 + (x - 1600) * 100 / 800
    else:
        return 0

df["SO2_SubIndex"] = df["SO2"].apply(lambda x: get_SO2_subindex(x))

In [ ]:
def get_NOx_subindex(x):
    if x <= 40:
        return x * 50 / 40
    elif x <= 80:
        return 50 + (x - 40) * 50 / 40
    elif x <= 180:
        return 100 + (x - 80) * 100 / 100
    elif x <= 280:
        return 200 + (x - 180) * 100 / 100
    elif x <= 400:
        return 300 + (x - 280) * 100 / 120
    elif x > 400:
        return 400 + (x - 400) * 100 / 120
    else:
        return 0

df["NOx_SubIndex"] = df["NOx"].apply(lambda x: get_NOx_subindex(x))

In [ ]:
def get_AQI_bucket(x):
    if x <= 50:
        return "Good"
    elif x <= 100:
        return "Satisfactory"
    elif x <= 200:
        return "Moderate"
    elif x <= 300:
        return "Poor"
    elif x <= 400:
        return "Very Poor"
    elif x > 400:
        return "Severe"
    else:
        return np.NaN

df["AQI_calculated"] = round(df[["PM10_SubIndex", "SO2_SubIndex", "NOx_SubIndex"]].max(axis = 1))

df["AQI_bucket_calculated"] = df["AQI_calculated"].apply(lambda x: get_AQI_bucket(x))
df[~df.AQI_calculated.isna()].head(12)

,Unnamed: 0,Date,PM10,NOx,SO2,PM10_SubIndex,SO2_SubIndex,NOx_SubIndex,AQI_calculated,AQI_bucket_calculated
0,0,31-01-2023,49.592940,26.475374,7.361353,49.592940,9.201692,33.094217,50.0,Good
1,1,28-02-2023,56.920250,25.208668,7.017441,56.920250,8.771801,31.510835,57.0,Satisfactory
2,2,31-03-2023,50.206993,28.954832,8.278098,50.206993,10.347622,36.193540,50.0,Good
3,3,30-04-2023,52.350586,26.285927,7.854732,52.350586,9.818414,32.857409,52.0,Satisfactory
4,4,31-05-2023,50.230194,23.899569,5.939585,50.230194,7.424481,29.874461,50.0,Good
5,5,30-06-2023,59.961210,20.961021,5.138043,59.961210,6.422554,26.201276,60.0,Satisfactory
6,6,31-07-2023,54.840485,23.210361,6.967090,54.840485,8.708862,29.012951,55.0,Satisfactory
7,7,31-08-2023,70.569210,25.617153,7.108234,70.569210,8.885293,32.021441,71.0,Satisfactory
8,8,30-09-2023,83.222490,34.379750,7.671492,83.222490,9.589365,42.974688,83.0,Satisfactory
9,9,31-10-2023,57.924550,36.104140,8.282416,57.924550,10.353020,45.130175,58.0,Satisfactory
10,10,30-11-2023,60.534070,32.077705,7.580860,60.534070,9.476075,40.097131,61.0,Satisfactory
11,11,31-12-2023,56.722520,40.425568,7.221460,56.722520,9.026825,50.531960,57.0,Satisfactory

In [ ]:

df = df[['Date', 'AQI_calculated', 'AQI_bucket_calculated']]

In [ ]:
df

          Date  AQI_calculated AQI_bucket_calculated
0   31-01-2023            50.0                  Good
1   28-02-2023            57.0          Satisfactory
2   31-03-2023            50.0                  Good
3   30-04-2023            52.0          Satisfactory
4   31-05-2023            50.0                  Good
5   30-06-2023            60.0          Satisfactory
6   31-07-2023            55.0          Satisfactory
7   31-08-2023            71.0          Satisfactory
8   30-09-2023            83.0          Satisfactory
9   31-10-2023            58.0          Satisfactory
10  30-11-2023            61.0          Satisfactory
11  31-12-2023            57.0          Satisfactory

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/KHAMMAM AQI.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df.to_csv(f)

Mounted at /content/drive