In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("../Heatwave Nizamabad.csv")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df.head()

   Unnamed: 0          ds      yhat1
0          22  2023-01-01  33.473961
1          23  2023-01-02  33.208984
2          24  2023-01-03  33.488518
3          25  2023-01-04  33.552311
4          26  2023-01-05  33.457985

In [ ]:
maxtemp=list(df['yhat1'])

In [ ]:
jan=maxtemp[:31]
feb=maxtemp[31:59]
mar=maxtemp[59:90]
apr=maxtemp[90:120]
may=maxtemp[120:151]
jun=maxtemp[151:181]
jul=maxtemp[181:212]
aug=maxtemp[212:243]
sep=maxtemp[243:273]
oct=maxtemp[273:304]
nov=maxtemp[304:334]
dec=maxtemp[334:365]

In [ ]:
max_t=45

In [ ]:
def heatwave(mon):
  month={'Jan':jan,'Feb':feb,'Mar':mar,'Apr':apr,'May':may,'Jun':jun,'Jul':jul,'Aug':aug,'Sep':sep,'Oct':oct,'Nov':nov,'Dec':dec}
  hw="NO"
  maxi=max_t
  tem=[]
  i=0
  while i<=len(mon)-1:
    if mon[i]>=maxi and mon[i+1]>=maxi:
      hw="YES"
      maxi=max(mon[i],mon[i+1])
      tem.append((mon[i],mon[i+1]))
    i+=1
  if len(tem)!=0:
    return [list(month.keys())[list(month.values()).index(mon)],hw,max(mon)]
  else:
    return [list(month.keys())[list(month.values()).index(mon)],hw,max(mon)]

In [ ]:
mons=[jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec]

In [ ]:
def heatwave_final(mons):
  l=[]
  for i in range(len(mons)):
    mon=heatwave(mons[i])
    l.append(mon)
  return l

In [ ]:
heatwave_final(mons)

[['Jan', 'NO', 35.135650634765625],
 ['Feb', 'NO', 37.08007049560547],
 ['Mar', 'NO', 39.37092208862305],
 ['Apr', 'NO', 42.03326416015625],
 ['May', 'NO', 42.339447021484375],
 ['Jun', 'NO', 39.80661392211914],
 ['Jul', 'NO', 34.480308532714844],
 ['Aug', 'NO', 33.6278190612793],
 ['Sep', 'NO', 34.66698455810547],
 ['Oct', 'NO', 35.73493957519531],
 ['Nov', 'NO', 35.87843704223633],
 ['Dec', 'NO', 34.83985900878906]]

In [ ]:
mon=[]
hw=[]
max_tem=[]
for i in range(len(heatwave_final(mons))):
  mon.append(heatwave_final(mons)[i][0])
  hw.append(heatwave_final(mons)[i][1])
  max_tem.append(heatwave_final(mons)[i][2])

In [ ]:
print(mon)
print(hw)
print(max_tem)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
['NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO']
[35.135650634765625, 37.08007049560547, 39.37092208862305, 42.03326416015625, 42.339447021484375, 39.80661392211914, 34.480308532714844, 33.6278190612793, 34.66698455810547, 35.73493957519531, 35.87843704223633, 34.83985900878906]

In [ ]:
df1 = pd.DataFrame()
df1['Month'] = mon
df1['HeatWave'] = hw
df1['Max_Temp'] = max_tem
  
df1

   Month HeatWave   Max_Temp
0    Jan       NO  35.135651
1    Feb       NO  37.080070
2    Mar       NO  39.370922
3    Apr       NO  42.033264
4    May       NO  42.339447
5    Jun       NO  39.806614
6    Jul       NO  34.480309
7    Aug       NO  33.627819
8    Sep       NO  34.666985
9    Oct       NO  35.734940
10   Nov       NO  35.878437
11   Dec       NO  34.839859

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/Heatwave_Nizamabad.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df1.to_csv(f)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).