In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("../LSTM Nizamabad AQI.csv")
df

    Unnamed: 0        Date       PM10        NOx       SO2
0            0  2023-01-31  61.311935  21.413239  5.065878
1            1  2023-02-28  66.265110  20.698220  5.081964
2            2  2023-03-31  67.462500  20.578508  5.102062
3            3  2023-04-30  62.430313  20.518461  5.132698
4            4  2023-05-31  57.296220  21.229906  5.064790
5            5  2023-06-30  59.717724  21.111204  5.130374
6            6  2023-07-31  58.402090  21.376245  5.145871
7            7  2023-08-31  58.891434  21.016382  6.043543
8            8  2023-09-30  58.371284  21.214780  6.013041
9            9  2023-10-31  60.344770  22.256718  5.856221
10          10  2023-11-30  60.669666  22.564022  5.967460
11          11  2023-12-31  61.302067  22.429668  5.947911

In [3]:
def get_PM10_subindex(x):
    if x <= 50:
        return x
    elif x <= 100:
        return x
    elif x <= 250:
        return 100 + (x - 100) * 100 / 150
    elif x <= 350:
        return 200 + (x - 250)
    elif x <= 430:
        return 300 + (x - 350) * 100 / 80
    elif x > 430:
        return 400 + (x - 430) * 100 / 80
    else:
        return 0

df["PM10_SubIndex"] = df["PM10"].apply(lambda x: get_PM10_subindex(x))

In [4]:
## SO2 Sub-Index calculation
def get_SO2_subindex(x):
    if x <= 40:
        return x * 50 / 40
    elif x <= 80:
        return 50 + (x - 40) * 50 / 40
    elif x <= 380:
        return 100 + (x - 80) * 100 / 300
    elif x <= 800:
        return 200 + (x - 380) * 100 / 420
    elif x <= 1600:
        return 300 + (x - 800) * 100 / 800
    elif x > 1600:
        return 400 + (x - 1600) * 100 / 800
    else:
        return 0

df["SO2_SubIndex"] = df["SO2"].apply(lambda x: get_SO2_subindex(x))

In [5]:
def get_NOx_subindex(x):
    if x <= 40:
        return x * 50 / 40
    elif x <= 80:
        return 50 + (x - 40) * 50 / 40
    elif x <= 180:
        return 100 + (x - 80) * 100 / 100
    elif x <= 280:
        return 200 + (x - 180) * 100 / 100
    elif x <= 400:
        return 300 + (x - 280) * 100 / 120
    elif x > 400:
        return 400 + (x - 400) * 100 / 120
    else:
        return 0

df["NOx_SubIndex"] = df["NOx"].apply(lambda x: get_NOx_subindex(x))

In [6]:
def get_AQI_bucket(x):
    if x <= 50:
        return "Good"
    elif x <= 100:
        return "Satisfactory"
    elif x <= 200:
        return "Moderate"
    elif x <= 300:
        return "Poor"
    elif x <= 400:
        return "Very Poor"
    elif x > 400:
        return "Severe"
    else:
        return np.NaN

df["AQI_calculated"] = round(df[["PM10_SubIndex", "SO2_SubIndex", "NOx_SubIndex"]].max(axis = 1))

df["AQI_bucket_calculated"] = df["AQI_calculated"].apply(lambda x: get_AQI_bucket(x))
df[~df.AQI_calculated.isna()].head(12)

,Unnamed: 0,Date,PM10,NOx,SO2,PM10_SubIndex,SO2_SubIndex,NOx_SubIndex,AQI_calculated,AQI_bucket_calculated
0,0,2023-01-31,61.311935,21.413239,5.065878,61.311935,6.332347,26.766549,61.0,Satisfactory
1,1,2023-02-28,66.265110,20.698220,5.081964,66.265110,6.352455,25.872775,66.0,Satisfactory
2,2,2023-03-31,67.462500,20.578508,5.102062,67.462500,6.377577,25.723135,67.0,Satisfactory
3,3,2023-04-30,62.430313,20.518461,5.132698,62.430313,6.415873,25.648076,62.0,Satisfactory
4,4,2023-05-31,57.296220,21.229906,5.064790,57.296220,6.330988,26.537382,57.0,Satisfactory
5,5,2023-06-30,59.717724,21.111204,5.130374,59.717724,6.412967,26.389005,60.0,Satisfactory
6,6,2023-07-31,58.402090,21.376245,5.145871,58.402090,6.432338,26.720306,58.0,Satisfactory
7,7,2023-08-31,58.891434,21.016382,6.043543,58.891434,7.554429,26.270477,59.0,Satisfactory
8,8,2023-09-30,58.371284,21.214780,6.013041,58.371284,7.516302,26.518475,58.0,Satisfactory
9,9,2023-10-31,60.344770,22.256718,5.856221,60.344770,7.320276,27.820898,60.0,Satisfactory
10,10,2023-11-30,60.669666,22.564022,5.967460,60.669666,7.459325,28.205027,61.0,Satisfactory
11,11,2023-12-31,61.302067,22.429668,5.947911,61.302067,7.434889,28.037085,61.0,Satisfactory

In [7]:

df = df[['Date', 'AQI_calculated', 'AQI_bucket_calculated']]

In [8]:
df

          Date  AQI_calculated AQI_bucket_calculated
0   2023-01-31            61.0          Satisfactory
1   2023-02-28            66.0          Satisfactory
2   2023-03-31            67.0          Satisfactory
3   2023-04-30            62.0          Satisfactory
4   2023-05-31            57.0          Satisfactory
5   2023-06-30            60.0          Satisfactory
6   2023-07-31            58.0          Satisfactory
7   2023-08-31            59.0          Satisfactory
8   2023-09-30            58.0          Satisfactory
9   2023-10-31            60.0          Satisfactory
10  2023-11-30            61.0          Satisfactory
11  2023-12-31            61.0          Satisfactory

In [9]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/Nizamabad AQI.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df.to_csv(f)

Mounted at /content/drive