In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("../LSTM Adilabad AQI.csv")
df

    Unnamed: 0        Date       PM10        NOx       SO2
0            0  2023-01-31  67.808495  20.053122  5.767825
1            1  2023-02-28  69.136690  19.620817  4.923544
2            2  2023-03-31  69.622345  19.654764  4.600196
3            3  2023-04-30  65.941620  19.944103  4.493875
4            4  2023-05-31  61.876568  20.645937  4.524870
5            5  2023-06-30  60.601357  20.983461  4.807523
6            6  2023-07-31  60.484030  21.355152  5.063400
7            7  2023-08-31  63.440235  21.992601  5.283008
8            8  2023-09-30  64.376526  21.399076  5.803204
9            9  2023-10-31  64.986040  21.502619  6.262522
10          10  2023-11-30  64.422485  21.304432  6.011417
11          11  2023-12-31  64.612460  21.440084  6.157104

In [ ]:
def get_PM10_subindex(x):
    if x <= 50:
        return x
    elif x <= 100:
        return x
    elif x <= 250:
        return 100 + (x - 100) * 100 / 150
    elif x <= 350:
        return 200 + (x - 250)
    elif x <= 430:
        return 300 + (x - 350) * 100 / 80
    elif x > 430:
        return 400 + (x - 430) * 100 / 80
    else:
        return 0

df["PM10_SubIndex"] = df["PM10"].apply(lambda x: get_PM10_subindex(x))

In [ ]:
## SO2 Sub-Index calculation
def get_SO2_subindex(x):
    if x <= 40:
        return x * 50 / 40
    elif x <= 80:
        return 50 + (x - 40) * 50 / 40
    elif x <= 380:
        return 100 + (x - 80) * 100 / 300
    elif x <= 800:
        return 200 + (x - 380) * 100 / 420
    elif x <= 1600:
        return 300 + (x - 800) * 100 / 800
    elif x > 1600:
        return 400 + (x - 1600) * 100 / 800
    else:
        return 0

df["SO2_SubIndex"] = df["SO2"].apply(lambda x: get_SO2_subindex(x))

In [ ]:
def get_NOx_subindex(x):
    if x <= 40:
        return x * 50 / 40
    elif x <= 80:
        return 50 + (x - 40) * 50 / 40
    elif x <= 180:
        return 100 + (x - 80) * 100 / 100
    elif x <= 280:
        return 200 + (x - 180) * 100 / 100
    elif x <= 400:
        return 300 + (x - 280) * 100 / 120
    elif x > 400:
        return 400 + (x - 400) * 100 / 120
    else:
        return 0

df["NOx_SubIndex"] = df["NOx"].apply(lambda x: get_NOx_subindex(x))

In [ ]:
def get_AQI_bucket(x):
    if x <= 50:
        return "Good"
    elif x <= 100:
        return "Satisfactory"
    elif x <= 200:
        return "Moderate"
    elif x <= 300:
        return "Poor"
    elif x <= 400:
        return "Very Poor"
    elif x > 400:
        return "Severe"
    else:
        return np.NaN

df["AQI_calculated"] = round(df[["PM10_SubIndex", "SO2_SubIndex", "NOx_SubIndex"]].max(axis = 1))

df["AQI_bucket_calculated"] = df["AQI_calculated"].apply(lambda x: get_AQI_bucket(x))
df[~df.AQI_calculated.isna()].head(12)

,Unnamed: 0,Date,PM10,NOx,SO2,PM10_SubIndex,SO2_SubIndex,NOx_SubIndex,AQI_calculated,AQI_bucket_calculated
0,0,2023-01-31,67.808495,20.053122,5.767825,67.808495,7.209781,25.066402,68.0,Satisfactory
1,1,2023-02-28,69.136690,19.620817,4.923544,69.136690,6.154431,24.526021,69.0,Satisfactory
2,2,2023-03-31,69.622345,19.654764,4.600196,69.622345,5.750246,24.568455,70.0,Satisfactory
3,3,2023-04-30,65.941620,19.944103,4.493875,65.941620,5.617343,24.930129,66.0,Satisfactory
4,4,2023-05-31,61.876568,20.645937,4.524870,61.876568,5.656087,25.807421,62.0,Satisfactory
5,5,2023-06-30,60.601357,20.983461,4.807523,60.601357,6.009404,26.229326,61.0,Satisfactory
6,6,2023-07-31,60.484030,21.355152,5.063400,60.484030,6.329250,26.693940,60.0,Satisfactory
7,7,2023-08-31,63.440235,21.992601,5.283008,63.440235,6.603760,27.490751,63.0,Satisfactory
8,8,2023-09-30,64.376526,21.399076,5.803204,64.376526,7.254004,26.748845,64.0,Satisfactory
9,9,2023-10-31,64.986040,21.502619,6.262522,64.986040,7.828152,26.878274,65.0,Satisfactory
10,10,2023-11-30,64.422485,21.304432,6.011417,64.422485,7.514272,26.630540,64.0,Satisfactory
11,11,2023-12-31,64.612460,21.440084,6.157104,64.612460,7.696381,26.800105,65.0,Satisfactory

In [ ]:
df = df[['Date', 'AQI_calculated', 'AQI_bucket_calculated']]

In [ ]:
df

          Date  AQI_calculated AQI_bucket_calculated
0   2023-01-31            68.0          Satisfactory
1   2023-02-28            69.0          Satisfactory
2   2023-03-31            70.0          Satisfactory
3   2023-04-30            66.0          Satisfactory
4   2023-05-31            62.0          Satisfactory
5   2023-06-30            61.0          Satisfactory
6   2023-07-31            60.0          Satisfactory
7   2023-08-31            63.0          Satisfactory
8   2023-09-30            64.0          Satisfactory
9   2023-10-31            65.0          Satisfactory
10  2023-11-30            64.0          Satisfactory
11  2023-12-31            65.0          Satisfactory

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/Adilabad AQI.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df.to_csv(f)

Mounted at /content/drive