In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("../LSTM Warangal AQI.csv")
df

    Unnamed: 0        Date       PM10        NOx       SO2
0            0  2023-01-31  71.278244  26.481180  7.753016
1            1  2023-02-28  67.584090  26.077465  7.604988
2            2  2023-03-31  72.272446  27.799147  7.763003
3            3  2023-04-30  61.150230  22.922800  6.787696
4            4  2023-05-31  42.423008  24.846720  6.521073
5            5  2023-06-30  57.403473  22.940727  6.935327
6            6  2023-07-31  55.947760  20.971611  6.290461
7            7  2023-08-31  65.481530  24.518814  8.636522
8            8  2023-09-30  78.623310  28.240198  8.387846
9            9  2023-10-31  81.770080  26.971870  7.762737
10          10  2023-11-30  94.943370  26.991467  7.340441
11          11  2023-12-31  93.826880  38.052776  7.774679

In [ ]:
def get_PM10_subindex(x):
    if x <= 50:
        return x
    elif x <= 100:
        return x
    elif x <= 250:
        return 100 + (x - 100) * 100 / 150
    elif x <= 350:
        return 200 + (x - 250)
    elif x <= 430:
        return 300 + (x - 350) * 100 / 80
    elif x > 430:
        return 400 + (x - 430) * 100 / 80
    else:
        return 0

df["PM10_SubIndex"] = df["PM10"].apply(lambda x: get_PM10_subindex(x))

In [ ]:
## SO2 Sub-Index calculation
def get_SO2_subindex(x):
    if x <= 40:
        return x * 50 / 40
    elif x <= 80:
        return 50 + (x - 40) * 50 / 40
    elif x <= 380:
        return 100 + (x - 80) * 100 / 300
    elif x <= 800:
        return 200 + (x - 380) * 100 / 420
    elif x <= 1600:
        return 300 + (x - 800) * 100 / 800
    elif x > 1600:
        return 400 + (x - 1600) * 100 / 800
    else:
        return 0

df["SO2_SubIndex"] = df["SO2"].apply(lambda x: get_SO2_subindex(x))

In [ ]:
def get_NOx_subindex(x):
    if x <= 40:
        return x * 50 / 40
    elif x <= 80:
        return 50 + (x - 40) * 50 / 40
    elif x <= 180:
        return 100 + (x - 80) * 100 / 100
    elif x <= 280:
        return 200 + (x - 180) * 100 / 100
    elif x <= 400:
        return 300 + (x - 280) * 100 / 120
    elif x > 400:
        return 400 + (x - 400) * 100 / 120
    else:
        return 0

df["NOx_SubIndex"] = df["NOx"].apply(lambda x: get_NOx_subindex(x))

In [ ]:
def get_AQI_bucket(x):
    if x <= 50:
        return "Good"
    elif x <= 100:
        return "Satisfactory"
    elif x <= 200:
        return "Moderate"
    elif x <= 300:
        return "Poor"
    elif x <= 400:
        return "Very Poor"
    elif x > 400:
        return "Severe"
    else:
        return np.NaN

df["AQI_calculated"] = round(df[["PM10_SubIndex", "SO2_SubIndex", "NOx_SubIndex"]].max(axis = 1))

df["AQI_bucket_calculated"] = df["AQI_calculated"].apply(lambda x: get_AQI_bucket(x))
df[~df.AQI_calculated.isna()].head(12)

,Unnamed: 0,Date,PM10,NOx,SO2,PM10_SubIndex,SO2_SubIndex,NOx_SubIndex,AQI_calculated,AQI_bucket_calculated
0,0,2023-01-31,71.278244,26.481180,7.753016,71.278244,9.691269,33.101475,71.0,Satisfactory
1,1,2023-02-28,67.584090,26.077465,7.604988,67.584090,9.506235,32.596831,68.0,Satisfactory
2,2,2023-03-31,72.272446,27.799147,7.763003,72.272446,9.703754,34.748934,72.0,Satisfactory
3,3,2023-04-30,61.150230,22.922800,6.787696,61.150230,8.484621,28.653500,61.0,Satisfactory
4,4,2023-05-31,42.423008,24.846720,6.521073,42.423008,8.151342,31.058400,42.0,Good
5,5,2023-06-30,57.403473,22.940727,6.935327,57.403473,8.669159,28.675909,57.0,Satisfactory
6,6,2023-07-31,55.947760,20.971611,6.290461,55.947760,7.863076,26.214514,56.0,Satisfactory
7,7,2023-08-31,65.481530,24.518814,8.636522,65.481530,10.795652,30.648517,65.0,Satisfactory
8,8,2023-09-30,78.623310,28.240198,8.387846,78.623310,10.484807,35.300247,79.0,Satisfactory
9,9,2023-10-31,81.770080,26.971870,7.762737,81.770080,9.703421,33.714838,82.0,Satisfactory
10,10,2023-11-30,94.943370,26.991467,7.340441,94.943370,9.175551,33.739334,95.0,Satisfactory
11,11,2023-12-31,93.826880,38.052776,7.774679,93.826880,9.718349,47.565970,94.0,Satisfactory

In [ ]:
df = df[['Date', 'AQI_calculated', 'AQI_bucket_calculated']]

In [ ]:
df

          Date  AQI_calculated AQI_bucket_calculated
0   2023-01-31            71.0          Satisfactory
1   2023-02-28            68.0          Satisfactory
2   2023-03-31            72.0          Satisfactory
3   2023-04-30            61.0          Satisfactory
4   2023-05-31            42.0                  Good
5   2023-06-30            57.0          Satisfactory
6   2023-07-31            56.0          Satisfactory
7   2023-08-31            65.0          Satisfactory
8   2023-09-30            79.0          Satisfactory
9   2023-10-31            82.0          Satisfactory
10  2023-11-30            95.0          Satisfactory
11  2023-12-31            94.0          Satisfactory

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/Warangal AQI.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df.to_csv(f)

Mounted at /content/drive